<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Hello! I'm a recent graduate with a double major in Computer Engineering and Mathematical Sciences, equipped with a strong foundation in both theoretical and practical aspects of technology and mathematics. My academic journey has fueled my passion for hardware design, ASIC design, embedded systems, and digital signal processing, allowing me to develop a keen understanding of designing and implementing efficient, high-performance systems through various projects and coursework.
                </p>
                <p class="text-faded">
                    I am eager to apply my knowledge and skills in a professional setting, contributing to innovative projects and collaborating with industry experts. Continuously seeking opportunities to grow and learn within these fields, I stay updated with the latest advancements and technologies. Feel free to connect with me to discuss potential opportunities, collaborations, or to share insights on the fascinating world of computer engineering and mathematical sciences!
                </p>
                <a href="services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
