<!--  
    This file is for the section related to row 2 column 3 of the projects categories
-->

<section id="port_cat_r2c3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Verilog Projects</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
                <a href="https://github.com/Ruben-F-Ramirez/Seq_and_or">
                    <i class="fa-brands fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>            
    </div>

</section>
